body{
  background: #4c0216;
  background: #2F3F4F;
  background: #454B52;
}

.outer{
    background: white;
}

.banner-image, .banner-image2, .grad-image{
  background: url("./banner.jpg");
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  background-position:50% 70%;
  border-bottom: 3px solid rgba(255,255,255, .3);
  display: flex;
  flex-direction: column;
  align-items:center;
}

.banner-image2{
  background: url("./banner2.jpg");
  display: flex;
  align-items:center;
  justify-content: center;
}

.grad-image{
  background: url("./GRAD.jpg");
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  background-position:50% 70%;
  border-bottom: 3px solid rgba(255,255,255, .3);
  display: flex;
  flex-direction: column;
  align-items:center;
}

.projects-image{
  background: url("./projects.jpg");
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  background-position:50% 70%;
  border-bottom: 3px solid rgba(255,255,255, .3);
  display: flex;
  flex-direction: column;
  align-items:center;
}

.projects2-image{
  background: url("./projects2.jpg");
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  background-position:50% 70%;
  border-bottom: 3px solid rgba(255,255,255, .3);
  display: flex;
  flex-direction: column;
  align-items:center;
}

.heading{
  color: white;
  font-family: "Handlee", serif;
  font-size: 4em;
  font-weight: bold;
  text-align: left;
  animation: 5s search-fade-horiz linear;
  text-align: center;
  margin-top: 15%;
}

.outer-heading{
  height: 45vh;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 3em;
  border-radius: 5px;
}

button{
  background: transparent;
  border: 1px solid white;
  padding: 1em;
  text-transform: uppercase;
  font-size: .8em;
  margin: 15%;
  color: #4c0216;
}
@keyframes search-fade-horiz{
  0%   {
    opacity: 0;
  }
  100% { opacity: 1;
   }
}

.by, .by-grad{
  color: #4c0216;
}

.heading-grad{
  transform: rotate(-20deg);
}

.type{
  order: 2;
  color: #ff6666;
  font-family: helvetica;
  letter-spacing: .5em;
  font-size: 3em;
}

.outer-tabs{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media screen and (max-width: 736px){
  .heading{
    font-size: 2.5em;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1em;
    flex-direction: column;
  }

  .banner-image{
    background: url("./banner.jpg");
    height: 49vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:
    -moz-linear-gradient(top, rgba(47,52,60,0.25), rgba(47,25,44,0.35)),
    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./banner.jpg");
    background-image:
      -webkit-linear-gradient(top, rgba(47,52,60,0.25), rgba(47,25,44,0.35)),
      -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./banner.jpg");
    background-image:
      -ms-linear-gradient(top, rgba(47,52,60,0.25), rgba(47,25,44,0.35)),
      -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./banner.jpg");
    background-image:
      linear-gradient(top, rgba(47,52,60,0.25), rgba(47,25,34,0.45)),
      linear-gradient(top, rgba(255,255,255,.23), rgba(255,255,255,.23)), url("./banner.jpg");
    text-align: center;
    justify-content: center;
    background-position:100% 50%;
    border-bottom: 3px solid rgba(255,255,255, .3);
  }
  .outer-tabs{
    padding-left:0em;
    padding-right: 0em;
  }
}

.home{
  display: flex;
  width: 80vw;
  text-align: right;
  justify-content: flex-end;
}
