.resume-outer-paper{
  background: white;
  padding: 3em;
}

.outer-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #aaaaaa;
  padding: 3em;
  border-radius: 5px;
}

 .col2-outer-container{
  padding-top: 1em;
}

.column1{
  order: 1;
  width: 80%;
  text-align: left;
}

.column2{
  order: 2;
  width: 20%;
  text-align: right;
}

h1{
  color: #794464;
  color: #4c0216;
  font-size: 2em;
  text-transform: uppercase;
}

h2{
  text-transform: uppercase;
  font-size: 1.3em;

}

h3{
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.3em;
}

.date-flex{
  display: flex;
  flex-direction: row;
}

.left{
  order: 1;
  text-align: left;
  width: 75%;
}

.right{
  order: 2;
  text-align: right;
  width: 25%;
  margin-right: 5%;
}

p{
  line-height: 1.2em;
}

a{
  text-decoration: none;
  color: #6995bb;
}

a:hover{
  text-decoration: underline;
}

.swipe{
}

.outer-grid{
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project{
}

.github{
  background: url("./github.jpg");
  border: 3px solid gray;
  height: 19vh;
  width: 9.7vw;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 3em;
  margin-left: 5%;
}

.personal-message{
  width: 50%;
  font-family: helvetica;
  margin-left: 10%;
  color: #4c0216;
  font-size: 1.1em;
  padding: 1em;
}

.about-outer{
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.time-period{
  display: flex;
  flex-direction: row;
}

.time-logo{
  width: 20%;
}

.time-text{
  width: 80%;
  font-family: helvetica;
  border-bottom: 3px solid rgba(0,0,0, .13);
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.logo-bc{
  background: url("./bc.jpg");
  background-size: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  background-repeat: no-repeat;
  height: 30vh;
}

.logo-ga{
  background: url("./ga.jpg");
  background-size: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  height: 30vh;
  background-repeat: no-repeat;
}

.Footer{
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: .5em;
  text-align: center;
  font-family: helvetica;
  font-size: .8em;
}

.outer-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em;
  padding-left: 8em;
}

.project1, .project2, .project3{
  width: 27%;
  height: 35vh;
  border-radius: 5px;
  border: 3px solid rgba(0,0,0,.14);
  margin: 1em;
}

.project1{
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    -moz-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project1.png");
	background-image:
    -webkit-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project1.png");
	background-image:
    -ms-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project1.png");
	background-image:
    linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    linear-gradient(top, rgba(255,255,255,.23), rgba(255,255,255,.23)), url("./project1.png");
    -moz-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 4.2s ease, color 0.2s ease-in-out, border 4s;
    background-position:center;
  	transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.project2{
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    -moz-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project2.png");
	background-image:
    -webkit-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project2.png");
	background-image:
    -ms-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project2.png");
	background-image:
    linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    linear-gradient(top, rgba(255,255,255,.23), rgba(255,255,255,.23)), url("./project2.png");
    -moz-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 4.2s ease, color 0.2s ease-in-out, border 4s;
    background-position:center;
  	transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.project3{
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    -moz-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project3.png");
	background-image:
    -webkit-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project3.png");
	background-image:
    -ms-linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./project3.png");
	background-image:
    linear-gradient(top, rgba(52,70,97,0.25), rgba(47,25,34,0.35)),
    linear-gradient(top, rgba(255,255,255,.23), rgba(255,255,255,.23)), url("./project3.png");
    -moz-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background 1.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 4.2s ease, color 0.2s ease-in-out, border 4s;
    background-position:center;
  	transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.project1:hover{
  background: url("./project1.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.05);
 -moz-transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -o-transform: scale(1.05);
 -ms-transform: scale(1.05);
 max-width: 27%;
 max-height: 35vh;
 cursor: pointer;
}
.project2:hover{
  background: url("./project2.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.05);
 -moz-transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -o-transform: scale(1.05);
 -ms-transform: scale(1.05);
 max-width: 27%;
 max-height: 35vh;
 cursor: pointer;
}
.project3:hover{
  background: url("./project3.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.05);
 -moz-transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -o-transform: scale(1.05);
 -ms-transform: scale(1.05);
 max-width: 27%;
 max-height: 35vh;
 cursor: pointer;
}

.maroon{
  width: 27%;
  height: 35vh;
  border-radius: 5px;
  margin: 1em;
  border: 3px solid #4c0216;
  background: #4c0216;
}


@media screen and (max-width: 736px){
  .resume-outer-paper{
    border-radius: 5px;
    margin: 1em;
    margin-top: 2em;
    padding: .5em;
  }

  .outer-container{
    display: flex;
    flex-direction: column;
  }

   .col2-outer-container{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .column1{
    order: 1;
    width: 100%;
    text-align: center;
  }

  .column2{
    order: 2;
    width: 100%;
    text-align: center;
  }

  .info{
    order: 2;
    border-top: 1px solid gray;
    padding-top: 1em;
  }

  .skills{
    order: 1;
  }

  .date-flex{
    display: flex;
    flex-direction: column;
  }
  .left{
    order: 2;
    text-align: center;
    width: 100%;
  }

  .right{
    order: 1;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-bottom: .5em;
  }
  .about-outer{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .time-period{
    display: flex;
    flex-direction: column;
  }

  .time-logo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    padding-top: 2em;
    border-bottom: 3px solid rgba(0,0,0, .13);
  }

  .time-text{
    width: 90%;
    font-family: helvetica;
  }

  .logo-bc{
    background: url("./bc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .logo-ga{
    background: url("./ga.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .outer-projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
  }

  .project1, .project2, .project3{
    width: 90%;
    height: 30vh;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,.14);
    margin: 1em;
  }


    .project1:hover, .project2:hover, .project3:hover{
      max-width: 90%;      height: 30vh;
      border-radius: 5px;
      border: 3px solid rgba(0,0,0,.14);
      margin: 1em;
    }

  .maroon{
    display: none;
  }

}

.resume-tab{
  background: white;
}
